<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-6 order-1 order-md-1 order-xl-1">
        <div class="logo logo__footer">
          <img src="img/logo.svg" alt="">
        </div>
        <div class="footer__social">
          <a href="#">
            {{mixins.icon('facebook')}}
          </a>
          <a href="#">
            {{mixins.icon('linkedin')}}
          </a>
          <a href="#">
            {{mixins.icon('medium')}}
          </a>
          <a href="#">
            {{mixins.icon('google-plus')}}
          </a>
          <a href="#">
            {{mixins.icon('youtube')}}
          </a>
          <a href="#">
            {{mixins.icon('twitter')}}
          </a>
          <a href="#">
            {{mixins.icon('github-logo')}}
          </a>
        </div>
        <div class="copyright copyright-desktop">
          © 2018 | All Right Reserved BBFpro
        </div>
      </div>
      <div class="col-xl-3 col-md-6 order-2 order-md-3 order-xl-2">
        <h4>
          Telegram:
        </h4>
        <p>
          Техподдержка: <a href="#">@bbfpro</a>
        </p>
        <p>
          Новостной канал: <a href="#">@bbfpronews</a>
        </p>
        <p>
          Telegram-BOT: <a href="#">@bbfprobot</a>
        </p>
      </div>
      <div class="col-xl-2 col-md-6 order-3 order-md-2 order-xl-3">
        <div class="footer__nav">
          <h4>
            Навигация
          </h4>
          <ul>
            <li>
              <a href="index.html">
                Главная
              </a>
            </li>
            <li>
              <a href="prod.html">
                Продукты
              </a>
            </li>
            <li>
              <a href="#">
                Контакты
              </a>
            </li>
            <li>
              <a href="#">
                Документы
              </a>
            </li>
            <li>
              <a href="#">
                Адресса
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 order-4 order-md-3 order-xl-4">
        <p>
          Электронная почта: <a href="mailto:info@bbfpro.com">info@bbfpro.com</a>
        </p>
        <p>
          Телефон: <a href="tel:89628230801" class="tel">
          8 (962) 823-08-01
        </a>
        </p>
        <div class="copyright copyright-mobile">
          © 2018 | All Right Reserved BBFpro
        </div>
      </div>

    </div>
  </div>
</footer>
