<header class="header">
  <div class="container">
    <div class="header__content">
      <h1>
        Производство, продажа и обслуживание
      </h1>
      <h2>
        криптоматов по всему миру
      </h2>
      <ul>
        <li>
          Зарабатывать на комиссии проще, чем на курсе
        </li>
        <li>
          Простой интерфейс для клиентов
        </li>
        <li>
          Самые низкие цены на рынке
        </li>
      </ul>
      <p>
        Также мы можем рекомендовать вам проверенных подрядчиков, которые помогут
        подобрать индивидуальную комплектацию вашего оборудования
      </p>
    </div>
  </div>
</header>
