<section class="how-work">
  <div class="container">
    <div class="title">
      <h2>
        Как работает криптоматы BBFPRO
      </h2>
    </div>
    <div class="how-work__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="how-work__info">
              <h3>
                Шаг 1. Начало использования
              </h3>
              <div class="how-work__info_text">
                <p>
                  Клиент может выбрать язык и приобрести любую
                  из 4 доступных криптовалют
                  (Bitcoin,Litecoin, Dash и Bitcoin Cash)
                </p>
              </div>
            </div>
            <div class="how-work__img-box">
              <img src="img/img-1.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="how-work__info">
              <h3>
                Шаг 2. Текущий курс
              </h3>
              <div class="how-work__info_text">
                <p>
                  На экране отображается курс
                  покупки и размер комиссии за операцию
                </p>
              </div>
            </div>
            <div class="how-work__img-box">
              <img src="img/img-2.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="how-work__info">
              <h3>
                Шаг 3. Способ оплаты
              </h3>
              <div class="how-work__info_text">
                <p>
                  Предлагается несколько вариантов
                  оплаты транзакционных комиссий
                </p>
              </div>
            </div>
            <div class="how-work__img-box">
              <img src="img/img-3.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="how-work__info">
              <h3>
                Шаг 4. Ввод реквизитов
              </h3>
              <div class="how-work__info_text">
                <p>
                  После этого клиент вводит адрес
                  кошелька или подносит QR-код к
                  устройству для считывания
                </p>
              </div>
            </div>
            <div class="how-work__img-box">
              <img src="img/img-4.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="how-work__info">
              <h3>
                Шаг 5. Проверка на правильность
              </h3>
              <div class="how-work__info_text">
                <p>
                  Клиент проверяет правильность введенного адреса
                </p>
              </div>
            </div>
            <div class="how-work__img-box">
              <img src="img/img-5.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="how-work__info">
              <h3>
                Шаг 6. Пользовательское соглашение
              </h3>
              <div class="how-work__info_text">
                <p>
                  Перед оплатой клиент
                  должен прочитать договор оферты
                </p>
              </div>
            </div>
            <div class="how-work__img-box">
              <img src="img/img-6.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="how-work__info">
              <h3>
                Шаг 7. Внесение купюр
              </h3>
              <div class="how-work__info_text">
                <p>
                  Клиент вносит купюры в терминал и приобретает указанное количество криптовалюты.
                </p>
                <p>
                  После оплаты монеты поступают на адресклиента
                </p>
              </div>
            </div>
            <div class="how-work__img-box">
              <img src="img/img-7.jpg" alt="">
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
    <div class="how-work__demo">
      <div class="how-work__demo_title">
        Дэмо-версия
      </div>
      <div class="how-work__demo_info">
        Здесь Вы можете оценить все
        преимущества наших продуктов
      </div>
    </div>
    <a href="https://urbansoftware.ru/tmp/demo/index.html" target="_blank" class="button">
      Перейти к Дэмо-версии
    </a>
    <div class="how-work__bg">
      <img src="img/who-bg.svg" alt="">
    </div>
  </div>
</section>
