<section class="info">
  <div class="container">
    <div class="title">
      <h2>
        Станьте партнером и зарабатывайте с BBFpro
      </h2>
    </div>
    <div class="partners__wrapper">
      <div class="partners">
        <div class="partners__info">
          <div class="img__wrapper">
            <img src="img/decentralized.svg" alt="">
          </div>
          <h4>
            Поддержка бирж
          </h4>
          <p>
            Подключение терминала
            к любой из криптовалютных
            бирж
          </p>
        </div>
        <div class="partners__info">
          <div class="img__wrapper">
            <img src="img/network.svg" alt="">
          </div>
          <h4>
            Доступность
          </h4>
          <p>
            Возможность установки
            нашего ПО на ваши
            терминалы
          </p>
        </div>
        <div class="partners__info">
          <div class="img__wrapper">
            <img src="img/customer-service.svg" alt="">
          </div>
          <h4>
            Техническая поддержка
          </h4>
          <p>
            Техническая поддержка 24/7
            по любым вопросам
          </p>
        </div>
        <div class="partners__info">
          <div class="img__wrapper">
            <img src="img/notes.svg" alt="">
          </div>
          <h4>
            Бесплатное использование
          </h4>
          <p>
            Все обновления ПО
            полностью бесплатны
          </p>
        </div>
        <div class="partners__info">
          <div class="img__wrapper">
            <img src="img/translate.svg" alt="">
          </div>
          <h4>
            Множество языков
          </h4>
          <p>
            Мультиязычный интерфейс
          </p>
        </div>
      </div>
    </div>
    <div class="partners__text">
      <p>
        Получайте прибыль, устанавливая комиссию от каждой операции, совершенной клиентами терминала.

      </p>
      <p>
        Роялти BBFpro составляет всего 1% от оборота!
      </p>
    </div>
    <div class="button__wrapper">
      <a href="#" class="button modal_open">
        Стать Партнером
      </a>
    </div>
  </div>
  <div class="container">
    <div class="bg__wrapper">
      <div class="title title_white">
        <h2>
          BBFpro – производим криптоматы с 2017 года
        </h2>
      </div>
      <div class="info__more__wrapper">
        <div class="info__more">
          <div class="info__more_block">
          <span>
            9.025
          </span>
            <p>
              Машин установлено
            </p>
          </div>
          <div class="info__more_block">
          <span>
            648.212
          </span>
            <p>
              Операций проводится ежедневно
            </p>
          </div>
          <div class="info__more_block">
            <strong>
              $
            </strong>
            <span id="payments">
            3.216.563
          </span>
            <p>
              Выплачено нашим партнерам
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="info__video">
      <div class="row">
        <div class="col-lg-5">
          <div class="title title_left title_white title_line">
            <h2>
              Видео-инструкция
            </h2>
          </div>
          <p>
            Видео с инструкцией по покупке биткоинов в терминале
          </p>
        </div>
        <div class="col-lg-7">
          <div class="info__video_wrapper">
            <iframe src="https://www.youtube.com/embed/3Wj3nYeEWTY" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="video-img-abs">
      <img src="img/video-bg.png" alt="">
    </div>
  </div>
</section>
