<section class="tech-char">
  <div class="container">
    <div class="title">
      <h2>
        Технические характеристики криптоматов BBFpro
      </h2>
    </div>
  </div>
  <div class="tech-char__slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="tech-char__block">
            <div class="tech-char__block_info">
              <h3>
                Криптомат BBFpro
              </h3>
              <div class="tech-char__block_text">
                <p>
                  <span>
                    Корпус:
                  </span>
                  <span>
                    Стальной. Цвет: золото
                  </span>
                </p>
                <p>
                  <span>
                    Сенсорный экран:
                  </span>
                  <span>
                    17”, 6мм ПАВ, USB
                  </span>
                </p>
                <p>
                  <span>
                    Монитор:
                  </span>
                  <span>
                    17”, TFT
                  </span>
                </p>
                <p>
                  <span>
                    Термопринтер:
                  </span>
                  <span>
                    Custom VKP 80 II
                  </span>
                </p>
                <p>
                  <span>
                    Купюроприемник:
                  </span>
                  <span>
                    Cash Code SM
                  </span>
                </p>
                <p>
                  <span>
                    Кассета для купюроприемника:
                  </span>
                  <span>
                    1 500 купюр
                  </span>
                </p>
                <p>
                  <span>
                    Веб-камера:
                  </span>
                  <span>
                    Logitech c 525
                  </span>
                </p>
                <p>
                  <span>
                    Модем:
                  </span>
                  <span>
                    4g, Huawei e3372h-153
                  </span>
                </p>
                <p>
                  <span>
                    ККТ онлайн:
                  </span>
                  <span>
                    Казначей ФА
                  </span>
                </p>
                <p>
                  <span>
                    Программное обеспечение:
                  </span>
                  <span>
                    Лицензия Urban Деньги
                  </span>
                </p>
                <p>
                  <span>
                    Системный блок:
                  </span>
                  <span>
                    P5G41T-M, RAM DDR3 2Gb, SSD 60Gb, БП 350W,
                    Windows 7-лицензия
                  </span>
                </p>
                <p>
                  <span>
                    Прочее:
                  </span>
                  <span>
                    Кабели интерфейсные, антенна GSM, сетевой фильтр
                  </span>
                </p>
              </div>
              <div class="button__wrapper">
                <a href="#" class="button modal_open">
                  Оставить заявку на покупку
                </a>
              </div>
            </div>
            <a href="#" class="more-info">
              Подробнее
            </a>
            <div class="terminal">
              <img src="img/b1.png" alt="">
            </div>
            <div class="abs">
              <img src="img/tech-small-abs.png" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tech-char__block">
            <div class="tech-char__block_info">
              <h3>
                Криптомат BBFpro
              </h3>
              <div class="tech-char__block_text">
                <p>
                  <span>
                    Корпус:
                  </span>
                  <span>
                    Стальной. Цвет: золото
                  </span>
                </p>
                <p>
                  <span>
                    Сенсорный экран:
                  </span>
                  <span>
                    17”, 6мм ПАВ, USB
                  </span>
                </p>
                <p>
                  <span>
                    Монитор:
                  </span>
                  <span>
                    17”, TFT
                  </span>
                </p>
                <p>
                  <span>
                    Термопринтер:
                  </span>
                  <span>
                    Custom VKP 80 II
                  </span>
                </p>
                <p>
                  <span>
                    Купюроприемник:
                  </span>
                  <span>
                    Cash Code SM
                  </span>
                </p>
                <p>
                  <span>
                    Кассета для купюроприемника:
                  </span>
                  <span>
                    1 500 купюр
                  </span>
                </p>
                <p>
                  <span>
                    Веб-камера:
                  </span>
                  <span>
                    Logitech c 525
                  </span>
                </p>
                <p>
                  <span>
                    Модем:
                  </span>
                  <span>
                    4g, Huawei e3372h-153
                  </span>
                </p>
                <p>
                  <span>
                    ККТ онлайн:
                  </span>
                  <span>
                    Казначей ФА
                  </span>
                </p>
                <p>
                  <span>
                    Программное обеспечение:
                  </span>
                  <span>
                    Лицензия Urban Деньги
                  </span>
                </p>
                <p>
                  <span>
                    Системный блок:
                  </span>
                  <span>
                    P5G41T-M, RAM DDR3 2Gb, SSD 60Gb, БП 350W,
                    Windows 7-лицензия
                  </span>
                </p>
                <p>
                  <span>
                    Прочее:
                  </span>
                  <span>
                    Кабели интерфейсные, антенна GSM, сетевой фильтр
                  </span>
                </p>
              </div>
              <div class="button__wrapper">
                <a href="#" class="button modal_open">
                  Оставить заявку на покупку
                </a>
              </div>
            </div>
            <a href="#" class="more-info">
              Подробнее
            </a>
            <div class="terminal">
              <img src="img/b1.png" alt="">
            </div>
            <div class="abs">
              <img src="img/tech-small-abs.png" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide">
          <div class="tech-char__block">
            <div class="tech-char__block_info">
              <h3>
                Криптомат BBFpro
              </h3>
              <div class="tech-char__block_text">
                <p>
                  <span>
                    Корпус:
                  </span>
                  <span>
                    Стальной. Цвет: золото
                  </span>
                </p>
                <p>
                  <span>
                    Сенсорный экран:
                  </span>
                  <span>
                    17”, 6мм ПАВ, USB
                  </span>
                </p>
                <p>
                  <span>
                    Монитор:
                  </span>
                  <span>
                    17”, TFT
                  </span>
                </p>
                <p>
                  <span>
                    Термопринтер:
                  </span>
                  <span>
                    Custom VKP 80 II
                  </span>
                </p>
                <p>
                  <span>
                    Купюроприемник:
                  </span>
                  <span>
                    Cash Code SM
                  </span>
                </p>
                <p>
                  <span>
                    Кассета для купюроприемника:
                  </span>
                  <span>
                    1 500 купюр
                  </span>
                </p>
                <p>
                  <span>
                    Веб-камера:
                  </span>
                  <span>
                    Logitech c 525
                  </span>
                </p>
                <p>
                  <span>
                    Модем:
                  </span>
                  <span>
                    4g, Huawei e3372h-153
                  </span>
                </p>
                <p>
                  <span>
                    ККТ онлайн:
                  </span>
                  <span>
                    Казначей ФА
                  </span>
                </p>
                <p>
                  <span>
                    Программное обеспечение:
                  </span>
                  <span>
                    Лицензия Urban Деньги
                  </span>
                </p>
                <p>
                  <span>
                    Системный блок:
                  </span>
                  <span>
                    P5G41T-M, RAM DDR3 2Gb, SSD 60Gb, БП 350W,
                    Windows 7-лицензия
                  </span>
                </p>
                <p>
                  <span>
                    Прочее:
                  </span>
                  <span>
                    Кабели интерфейсные, антенна GSM, сетевой фильтр
                  </span>
                </p>
              </div>
              <div class="button__wrapper">
                <a href="#" class="button modal_open">
                  Оставить заявку на покупку
                </a>
              </div>
            </div>
            <a href="#" class="more-info">
              Подробнее
            </a>
            <div class="terminal">
              <img src="img/b1.png" alt="">
            </div>
            <div class="abs">
              <img src="img/tech-small-abs.png" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide">
          <div class="tech-char__block">
            <div class="tech-char__block_info">
              <h3>
                Криптомат BBFpro
              </h3>
              <div class="tech-char__block_text">
                <p>
                  <span>
                    Корпус:
                  </span>
                  <span>
                    Стальной. Цвет: золото
                  </span>
                </p>
                <p>
                  <span>
                    Сенсорный экран:
                  </span>
                  <span>
                    17”, 6мм ПАВ, USB
                  </span>
                </p>
                <p>
                  <span>
                    Монитор:
                  </span>
                  <span>
                    17”, TFT
                  </span>
                </p>
                <p>
                  <span>
                    Термопринтер:
                  </span>
                  <span>
                    Custom VKP 80 II
                  </span>
                </p>
                <p>
                  <span>
                    Купюроприемник:
                  </span>
                  <span>
                    Cash Code SM
                  </span>
                </p>
                <p>
                  <span>
                    Кассета для купюроприемника:
                  </span>
                  <span>
                    1 500 купюр
                  </span>
                </p>
                <p>
                  <span>
                    Веб-камера:
                  </span>
                  <span>
                    Logitech c 525
                  </span>
                </p>
                <p>
                  <span>
                    Модем:
                  </span>
                  <span>
                    4g, Huawei e3372h-153
                  </span>
                </p>
                <p>
                  <span>
                    ККТ онлайн:
                  </span>
                  <span>
                    Казначей ФА
                  </span>
                </p>
                <p>
                  <span>
                    Программное обеспечение:
                  </span>
                  <span>
                    Лицензия Urban Деньги
                  </span>
                </p>
                <p>
                  <span>
                    Системный блок:
                  </span>
                  <span>
                    P5G41T-M, RAM DDR3 2Gb, SSD 60Gb, БП 350W,
                    Windows 7-лицензия
                  </span>
                </p>
                <p>
                  <span>
                    Прочее:
                  </span>
                  <span>
                    Кабели интерфейсные, антенна GSM, сетевой фильтр
                  </span>
                </p>
              </div>
              <div class="button__wrapper">
                <a href="#" class="button modal_open">
                  Оставить заявку на покупку
                </a>
              </div>
            </div>
            <a href="#" class="more-info">
              Подробнее
            </a>
            <div class="terminal">
              <img src="img/b1.png" alt="">
            </div>
            <div class="abs">
              <img src="img/tech-small-abs.png" alt="">
            </div>
          </div>

        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
      <div class="button__wrapper button__wrapper_center d-flex justify-content-center d-lg-none">
        <a href="#" class="button modal_open">
          Оставить заявку на покупку
        </a>
      </div>
  </div>

  <div class="container">
    <div class="img_abs">
      <img src="img/tech-abs-bg.svg" alt="">
    </div>
    <div class="support-cript__wrapper">
      <div class="title title_white">
        <h2>
          Поддерживаемые криптовалюты
        </h2>
      </div>
      <div class="support-cript">
        <img src="img/logo1.png" alt="">
        <img src="img/logo2.png" alt="">
        <img src="img/logo3.png" alt="">
        <img src="img/logo4.png" alt="">
      </div>
    </div>
  </div>
</section>
