<div class="adress">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div id="map">

        </div>
      </div>
      <div class="col-xl-4">
        <div id="map-info">
          <div class="marker">
            <div class="marker__name"> Торговый центр «VEGAS» </div>
            <div class="marker__adress"> проспект Чекистов, д. 42/1</div>
            <div class="marker__work-time">Время работы: <span>круглосуточно</span></div>
            <div class="marker__commission">Комиссия: <span>6</span>%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function initMap(){
    var coordinates = {lat: 45.03079527390336, lng: 38.91736337901148};
    var coordMarkers = {lat: 45.03079527390336, lng: 38.91736337901148};

    var element = document.getElementById('map');
    var option = {
      zoom: 13,
      center: coordinates,
      disableDefaultUI: true
    };
    var mapTerminal = new google.maps.Map(element, option);

    var image = {
      url: 'img/marker.svg',
      size: new google.maps.Size(24, 24),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(12, 12),
      scaledSize: new google.maps.Size(24, 24),
    };

    var markers = [
      {
        coordMarkers: {lat: 45.03079527390336, lng: 38.91736337901148},
        info: '<div class="marker">' +
          '<div class="marker__name"> Торговый центр «VEGAS» </div>' +
          '<div class="marker__adress"> <img src="img/placeholder.svg" alt="" class="marker__placeholder">проспект Каратистов, д. 42/1</div>' +
          '<div class="marker__work-time">Время работы: <span>14:00 - 15:00</span></div>' +
          '<div class="marker__commission">Комиссия: <span>100% </span></div>' +
          '</div>',
      },
      {
        coordMarkers: {lat: 45.04079527390336, lng: 38.92736337901148},
        info: '<div class="marker">' +
          '<div class="marker__name"> Торговый центр «neVEGAS» </div>' +
          '<div class="marker__adress"> <img src="img/placeholder.svg" alt="" class="marker__placeholder">проспект Чекистов, д. 42/1</div>' +
          '<div class="marker__work-time">Время работы: <span>круглосуточно</span></div>' +
          '<div class="marker__commission">Комиссия: <span>6% </span></div>' +
          '</div>',
      },
    ];

    for(var i = 0; i < markers.length; i++){
      addMarker(markers[i]);
    }
    function addMarker(properties) {
      var marker =  new google.maps.Marker({
        position: properties.coordMarkers,
        map: mapTerminal,
        icon: image,
      });
      if (properties.info) {
        var infoWindow = new google.maps.InfoWindow({
            content: properties.info
          });

        let modalDataContry = document.getElementById("map-info")
        marker.addListener('click', function () {
            infoWindow.open(mapTerminal, marker);
            modalDataContry.innerHTML = (properties.info);
          })
      }
    }


  }

</script>
