.icon-cancel {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-github-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-google-plus {
  width: 1.51em;
  height: 1em;
  fill: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-medium {
  width: 1em;
  height: 1em;
  fill: #00fd8d;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
